<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Roulette.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99D87F1C1D91330B00C50D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99D87F301D91330C00C50D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99D87F3B1D91330C00C50D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
